.container{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

#output{
    background-color: rgb(176, 255, 255);
    width: 400px;
    padding: 40px;
    height: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}